*.out
*.o
/uni-no-fiis/clase-01/.ipynb_checkpoints/
/uni-no-fiis/clase-02/.ipynb_checkpoints/
/uni-no-fiis/clase-03/.ipynb_checkpoints/
/uni-no-fiis/clase-04/.ipynb_checkpoints/
/uni-no-fiis/clase-05/.ipynb_checkpoints/
/uni-no-fiis/clase-06/.ipynb_checkpoints/
/uni-no-fiis/clase-07/.ipynb_checkpoints/
/uni-no-fiis/clase-08/.ipynb_checkpoints/
/uni-no-fiis/clase-09/.ipynb_checkpoints/
/uni-no-fiis/clase-10/.ipynb_checkpoints/
/uni-no-fiis/clase-11/.ipynb_checkpoints/
/uni-no-fiis/clase-12/.ipynb_checkpoints/
/uni-no-fiis/clase-13/.ipynb_checkpoints/
/uni-no-fiis/clase-14/.ipynb_checkpoints/
